[submodule "FreeRTOS-Classic/FreeRTOS-Plus/Source/WolfSSL"]
	path = FreeRTOS-Classic/FreeRTOS-Plus/Source/WolfSSL
	url = git@github.com:wolfSSL/wolfssl.git
[submodule "FreeRTOS-Classic/FreeRTOS-Plus/Source/WolfMQTT"]
	path = FreeRTOS-Classic/FreeRTOS-Plus/Source/WolfMQTT
	url = git@github.com:wolfSSL/wolfMQTT.git
